.chat--footer{
    background-color: white;
    height: 75px;
    border-left: 1px solid #aaaaae;
    align-items: center;
    display: flex;
    padding: 0 20px 0 10px;
}

.chat--footer_input{
    background-color: white;
    border: 0;
    outline: 0;
    font-size: 18px;
    height: 60px;
    width: 100%;
    margin-left: 15px;
}

.chat--footer_smile--button,.chat--footer_file--button,.chat--footer_send--button:hover{
    filter:brightness(0.9);
    cursor: pointer;
}

.chat--footer_file--button,.chat--footer_send--button{
    color: #a8a8a8;
    font-size:32px;
}

.chat--footer_smile--button{
    color: #a8a8a8;
    font-size:32px;
    margin-right:30px;
}